/******************************
GENERAL
******************************/

html {
        background-color: #ffffff;
}

body {

 font-family: "Open Sans", sans-serif;
    font-weight: 200;
    margin: 0 auto;
    max-width:100%;
    padding: 0em 0em 0em 0em;   
    height: 1200px;
}

header{
height: 100px;
    width: 100%;
    background: #f5f6f6;   
border-bottom: 10px solid #d34c26;
    
}


.text1{

  position: absolute;
    margin-top: -16%;
  line-height: 0.1;
 max-width: 80%;
    padding-top: 1%;
    padding-left: 1%;
     margin-left: 2%;
}


p{
display: block;
       font-size:1.8vw;   
}



h4{
      font-size:1vw;
font-weight: 200;
    
}


h1{

    margin: 25px 10px 10px 10px;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 2;
    color: black;
        text-decoration: none;
}

h2{
    font-size:3vw;
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-weight: 600;
    color: black;
}



nav{
    float: right;
    width: 100%;
    font-size: 1.3em;
    text-align: right;
    margin-top: 40px;
        margin-right: 40px;


}

nav ul{
    list-style: none;
    margin: 0 0;
    padding: 0;
}

nav li{
display: inline-block;

}

nav a{
    font-weight: 600;
    padding: 20px 20px 20px 20px;
        text-decoration: none;
}




.flex-rectangle {
    position: static;
    max-width: 80%;
    padding-top: 32%;
    background: #f5f6f6;
margin-left: 24%;
  margin-right: 24%;
    margin-top: 10%;
     border: 2px solid black;
box-shadow: 2px 4px #888888;
  border-radius: 14px;
    
}



.logo {
    position:absolute;
    max-width:20%;
    height:auto;
 margin-left: 18%;
    margin-top: -23%;
}


.foto{
    position:absolute;
    max-width:6%;
    height:auto;
 margin-left: 3%;
    margin-top: -23%;
    border-radius: 12%;
}

.aud {
    position:absolute;
    max-width:7%;
    height:auto;
 margin-left: 32%;
    margin-top: -9%;
}




nav a, nav a:visited{
    color: black;
        text-decoration: none;
}

nav a.selected, nav a:hover{
    color: black;
}

.footer{
    font-size: 20px;
    text-align: center;
        margin-top: 500px;
    clear: both;
    color: darkred;
}
